ipykernel==6.31.0
ipython==8.18.1
langchain==0.3.28
langchain-community==0.3.31
langchain-core==0.3.84
langchain-ollama==0.3.10
langchain-text-splitters==0.3.11
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.14.16
llama-index-core==0.14.16
llama-index-embeddings-openai==0.5.2
llama-index-indices-managed-llama-cloud==0.9.4
llama-index-instrumentation==0.4.3
llama-index-llms-ollama==0.9.1
llama-index-llms-openai==0.6.26
llama-index-readers-file==0.5.6
llama-index-readers-llama-parse==0.5.1
llama-index-workflows==2.16.1
llama-parse==0.6.54
ollama==0.6.1
python-dotenv==1.2.1